@model IEnumerable<BaseTec.Models.Estado_Cuenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo_Inicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo_Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta.Num_Cuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo_Inicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo_Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Num_Cuenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Estado_Cuenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Estado_Cuenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Estado_Cuenta })
        </td>
    </tr>
}

</table>
