@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banco TEC</h1>
    <p class="lead">Proyecto 1 Bases de datos</p>
</div>

<div>
    @Html.ActionLink("Lista de Beneficiarios", "Index", "Beneficiarios")<br />
    @Html.ActionLink("Lista de Cuentas", "Index", "Cuentas")<br />
    @Html.ActionLink("Lista de Estado Cuenta", "Index", "Estado_Cuenta")<br />
    @Html.ActionLink("Lista de Parentezcos", "Index", "Parentezcoes")<br />
    @Html.ActionLink("Lista de Tipo Documento", "Index", "Tipo_Documento")<br />
    @Html.ActionLink("Lista de Tipo Moneda", "Index", "Tipo_Moneda")<br />
    @Html.ActionLink("Lista de Usuarios", "Index", "Usuarios")<br />
    @Html.ActionLink("Lista de Usuarios Visualizacion", "Index", "Usuario_Visualizacion")<br />
    @Html.ActionLink("Lista de Personas", "Index", "Personas")<br />
</div>
