@model IEnumerable<BaseTec.Models.Tipo_Cuenta_Ahorros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo_Minimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multa_Saldo_Minimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo_Anual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Retiros_Humano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Retiros_Automatico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision_Humano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision_Automatico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Moneda.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo_Minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multa_Saldo_Minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo_Anual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Retiros_Humano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Retiros_Automatico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision_Humano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision_Automatico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Moneda.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Tipo_Cuenta_Ahorros }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Tipo_Cuenta_Ahorros }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Tipo_Cuenta_Ahorros })
        </td>
    </tr>
}

</table>
