@model IEnumerable<BaseTec.Models.Tipo_Moneda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Simbolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Simbolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Tipo_Moneda }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Tipo_Moneda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Tipo_Moneda })
        </td>
    </tr>
}

</table>
