@model IEnumerable<BaseTec.Models.Beneficiario>

@{
    ViewBag.Title = "Beneficiarios";
}

<h2>Beneficiarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta.Num_Cuenta)
        </th>
        <th>
            Relacion
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Porcentaje)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Num_Cuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parentezco.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Beneficiario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Beneficiario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Beneficiario })
        </td>
    </tr>
}

</table>
